@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

h2{
	font-family: Lato, sans-serif;
}

.clearfix:before,
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* IE < 8 */
}